@model MovieOrganizer.Models.Domain.Movie

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>@Model.Title</h1>

<ul>
    @foreach(var movieLog in Model.MovieLogs)
    {
        <li>@movieLog.User.Name</li>
    }
</ul>

<a asp-action="Index" asp-controller="Movies">Back</a>